<div class="container">
    <!--<h2 class="text-center">Registration Form</h2>-->
    <div class="row justify-content-center m-2">
        <div class="col-12 col-md-8 col-lg-10 pb-5">
            <form enctype="multipart/form-data" method="post" #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm.value)" [mustMatch]="['password', 'confirmPassword']">
                <div class="card border-info rounded-8">
                    <div class="card-header p-0">
                        <div class="bg-info text-black text-center py-2">
                            <h3><i class="fa fa-address-card" aria-hidden="true"></i> Registration Form</h3>
                            <p class="m-0">Please Fill the Details </p>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <!--Body-->
                        <div class="row">
                            <div class="form-group col-md">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                                    </div>
                                        <input type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="userDetails.firstName" placeholder="Enter First Name" required minlength="3">
                                </div>
                                <div *ngIf="userForm.submitted && firstName.invalid" class="alert alert-danger">
                                    <div *ngIf="firstName.errors?.required">First Name is Required</div>
                                    <div *ngIf="firstName.errors?.minlength" ngClass="firstName.errors.minlength">First Name Should be Minimum 3 Character</div>
                                </div>
                            </div>
                            <div class="form-group col-md">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control"  name="lastName" #lastName="ngModel" [(ngModel)]="userDetails.lastName" placeholder="Enter Last Name" required minlength="3">
                                </div>
                                <div *ngIf="userForm.submitted && lastName.invalid" class="alert alert-danger">
                                    <div *ngIf="lastName.errors?.required" ngClass="lastName.errors.required">Last Name is Required</div>
                                    <div *ngIf="lastName.errors?.minlength" ngClass="lastName.errors.minlength">Last Name Should be Minimum 3 Character</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope-o"></i></div>
                                </div>
                                <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="userDetails.email" placeholder="Enter Email Address" required email>
                            </div>
                            <div *ngIf="userForm.submitted && email.invalid" class="alert alert-danger">
                                <div *ngIf="email.errors?.required" ngClass="email.errors.required">Email is Required</div>
                                <div *ngIf="email.errors?.email" ngClass="email.errors.minlength">Email Should Be Valid</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend" *ngIf="imageShow">
                                    <div class="input-group-text"><i class="fa fa-file-image-o" aria-hidden="true"></i></div>
                                    <span class="border border-success rounded-lg" style="display: inline-block"><img src="{{'http://192.168.10.184/UserRegistration/public/' +  userDetails.image  }}" width="100px" height="100px"></span>
                                    <label class="btn btn-danger float-right" (click)="displayImage()">X</label>
                                </div>
                                <input type="file" *ngIf="!imageShow" name="image" id="file" class="upload" [(ngModel)]="userDetails.image" #image="ngModel" (change)="fileUpload($event)" requireFile>
                            </div>
                            <!--<div *ngIf="userForm.submitted && !image.valid" class="alert alert-danger">
                                <div *ngIf="image.errors?.required" ngClass="image.errors.required">Please Select Image</div>
                            </div>-->
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true" (click)="DOB.toggle()"></i></div>
                                </div>
                                <input type="text" class="form-control" #DOB="bsDatepicker" bsDatepicker [bsValue]="bsValue" name="DOB" [(ngModel)]="userDetails.DOB"
                                       placeholder="DD/MM/YYYY" required
                                       [bsConfig]="bsConfig">
                            </div>
                            <div *ngIf="userForm.submitted && DOB.invalid" class="alert alert-danger">
                                <div *ngIf="DOB.errors?.required" ngClass="DOB.errors.required">Please Select a Date</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" name="mobileNo" #mobileNo="ngModel" [(ngModel)]="userDetails.mobileNo" placeholder="Enter Mobile Number" required maxlength="10" minlength="10">
                            </div>
                            <div *ngIf="userForm.submitted && mobileNo.invalid" class="alert alert-danger">
                                <div *ngIf="mobileNo.errors?.required" ngClass="mobileNo.errors.required">Mobile Number is Required</div>
                                <div *ngIf="mobileNo.errors?.minlength" ngClass="mobileNo.errors.minlength">Mobile Number Lenght Should be 10 charactre</div>
                                <div *ngIf="mobileNo.errors?.maxlength" ngClass="mobileNo.errors.maxlength">Mobile Number Lenght Should be 10 charactre</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-male" aria-hidden="true"></i>&nbsp;Select Gender</div>
                                </div>
                                <input type="radio" class="form-control-sm col" name="gender" #gender="ngModel" [(ngModel)]="userDetails.gender" value="1" [checked]="userDetails.gender == 1" required>Male
                                <input type="radio" class="form-control-sm col" name="gender" #gender="ngModel" [(ngModel)]="userDetails.gender" value="0" [checked]="userDetails.gender == 0" required>Female
                            </div>
                            <div *ngIf="userForm.submitted && gender.invalid" class="alert alert-danger">
                                <div *ngIf="gender.errors?.required" ngClass="gender.errors.required">Please Select a Gender</div>
                            </div>
                        </div>

                        <div class="row" *ngIf="setNewPassword">
                            <div class="form-group col-md">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <div><button type="button" class="btn btn-outline-info" (click)="displayNewPassword()">Set New Password Than Click Here</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="!setNewPassword">
                            <div class="form-group col-md">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="userForm.password" placeholder="Enter Password" required minlength="6">
                                </div>
                                <div *ngIf="userForm.submitted && password.invalid" class="alert alert-danger">
                                    <div *ngIf="password.errors?.required" ngClass="password.errors.required">Password is Required</div>
                                    <div *ngIf="password.errors?.required" ngClass="password.errors.minlength">Password Length Should be minimum 6 character</div>
                                </div>
                            </div>
                            <div class="form-group col-md">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="password" class="form-control" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="userForm.confirmPassword" placeholder="Enter Confirm Password" required minlength="6">
                                </div>
                                <div *ngIf="userForm.submitted && confirmPassword.invalid" class="alert alert-danger">
                                    <div *ngIf="confirmPassword.errors?.required" ngClass="confirmPassword.errors.required">Confirm Password is Required</div>
                                    <div *ngIf="confirmPassword.errors?.required" ngClass="confirmPassword.errors.minlength">Confirm Pasword Length Should be minimum 6 character</div>
                                    <div *ngIf="confirmPassword.errors?.mustMatch" ngClass="confirmPassword.errors.mustMatch">Confirm Pasword  and Password are Not Matched</div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Submit" class="btn btn-info btn-block rounded-0 py-2">
                        </div>
                    </div>

                </div>
            </form>
            <!--Form with header-->
        </div>
    </div>
</div>