<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 lead">User profile<hr></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="{{ 'http://192.168.10.184/UserRegistration/public/' +  userDetails.image }}">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="only-bottom-margin">{{ userDetails.firstName + '  ' + userDetails.lastName}}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <span class="text-muted">Email:</span> {{ userDetails.email }}<br>
                                    <span class="text-muted">Birth date:</span> {{ userDetails.DOB }}<br>
                                    <span class="text-muted" *ngIf="userDetails['gender'] == 1">Gender: <b>Male</b></span> <br>
                                    <span class="text-muted" *ngIf="userDetails['gender'] == 0">Gender: <b>Female</b></span> <br>
                                    <span class="text-muted">Mobile No:</span> {{ userDetails.mobileNo }}<br>
                                </div>
                            </div><br><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-warning pull-left" (click)="editUser(userDetails)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Details</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger pull-right" (click)="deleteUser(userDetails)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
